{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8.2.1"
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-async-to-generator",
    "transform-decorators-legacy",
    "jest-hoist"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "useBuiltIns": "entry",
            "modules": "commonjs",
            "targets": {
              "node": "8.2.1"
            }
          }
        ]
      ]
    }
  }
}
