@import '../../index.styles.css';

.pane-container {
  min-height: 130px;
  flex: 1;
  display: flex;
  min-width: 240px;
  flex-direction: column;
  border-right: 1px solid var(--border-color);
}

.pane-title-container-ltr {
  flex: 0 0 35px;
  display: flex;
  justify-content: space-between;
  margin: 5px 15px 5px 15px;
}

.pane-title-container-rtl {
  flex: 0 0 35px;
  display: flex;
  justify-content: space-between;
  margin: 5px 15px 5px 15px;
}

.pane-title-container-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pane-title-text {
  font-weight: 700;
  font-size: 1em;
  margin-bottom: -5px;
}

.pane-subtitle-text {
  color: var(--text-color-light);
  font-style: bold;
  font-family: noto sans;
}

.verse-content-container-ltr {
  overflow-y: auto;
  direction: ltr;
  padding: 0 15px 10px;
}

.verse-content-container-rtl {
  overflow-y: auto;
  direction: rtl;
  padding: 0 15px 10px;
}

.remove-glyph-icon {
  color: var(--text-color-light);
  cursor: pointer;
}
