.expanded-modal-body {
  padding: 0;
  max-height: 500px;
}

.expanded-modal-title {
  display: flex;
  flex-direction: row;
}

.expanded-modal-content {
  border-bottom: solid 1px var(--border-color);
}

.expanded-modal-icon {
  cursor: pointer;
  color: #ffffff;
  width: 25;
  height: 25;
}

.expanded-modal-icon-button {
  padding: 0;
  width: 25;
  height: 25;
  margin-top: 5;
}
