@import '../index.styles.css';

.helps-sash-container {
 /* display: flex;
  flex-direction: column;
  max-width: 3in;
   flex: stretch;
  width: 3in;
  max-width: 3in; 
  max-height: 90%; 
  padding-top: 10px; */
  color: var(--text-color);
  background-color: var(--background-color-light);
 
}

.helps-title-bar {
  text-align: right;
  padding: 10px;
  color: var(--text-color);
  background-color: var(--background-color-light);
  border-bottom: thin solid var(--background-color-dark);
   /*overflow: hidden;
  height: 80px;
  overflow-y: auto;
 
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  flex: 0 0 120px;
  display: flex;
  margin: 0 10px; */
 
}

.helps-article {
  padding: 10px;
  /*overflow: scroll;
  flex: stretch; 
  display: flex;
  margin: 0 10px;
  color: var(--text-color);
  background-color: var(--background-color-light);
  box-shadow: 0 3px 10px var(--background-color-dark);
  border-radius: 2px; */
}


