@import '../index.styles.css';

svg > text {
  font-size: 1rem !important;
}

.edit-icon {
  color: #ffffff;
  width: 25;
  height: 25;
  margin-right: 5;
  margin-bottom: 5;
  vertical-align: middle;
}

.stepper-body {
  padding: 0;
}

.screen {
  padding: 24px;
}

.stepper {
  border-bottom: solid 1px #999;
  height: 50px;
}

.actions {
  padding: 0 24px;
  display: flex;
  justify-content: flex-end;
}

.done-icon {
  color: #ffffff;
  width: 20;
  height: 20;
  margin-right: 5;
  margin-bottom: 5;
  vertical-align: middle;
}

.reasons-screen {
  display: flex;
  justify-content: center;
}

.reasons-screen-column {
  display: flex;
  flex-direction: column;
}

.edit-screen {
  width: 100%;
  resize: none;
  padding: 10px;
  border: solid 1px var(--border-color);
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  cursor: inherit;
  outline: none;
  background-color: transparent;
  -webkit-appearance: textfield;
  color: rgba(0, 0, 0, 0.870588);
}